.container-list {
  display: flex;
  position: relative;

  margin-right: 6px;

  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 10pt;

}

.container-list ul {
  display: flex;

  padding: 10px;
  border: 2.7px solid black;
  border-radius: 15px;

  background-color: #b2b2b2;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}



.container-list ul.hidden {
  visibility: hidden;
}

.container-list ul li {
  display: flex;
  width: 100%;

  padding: 6px 5px 6px 5px;
  border-radius: 9px;

  background-color: #D9D9D9;

  justify-content: center;
}

.container-list li:last-child {
  margin-bottom: 10px;
}

.name-list {
  display: flex;

  width: 100%;
  padding: 8px 18px;
  border-radius: 10px;

  background-color: #264f73;
  color: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.425);
  justify-content: center;
  align-items: center;
  cursor: pointer;

}



.li-open .name-list {
  border-radius: 10px 0px 0px 10px;
  font-size: 13pt;

  transition: all 1ms;
}

.container-list ul li span {
  display: flex;
  flex-direction: column;

  background: none;

  justify-content: start;
}


.control-list button {
  border: none;
  border-left: 1.5px solid #e6e3e3;
  padding: 8px;

  background: #264f73;
  color: #e6e3e3;

}



.control-list button:hover {
  cursor: pointer;
}

.control-list button:first-child {
  border-bottom: 1.5px solid #e6e3e3;
  border-top-right-radius: 10px;

}

.control-list button:last-child {
  border-bottom-right-radius: 10px;

}

.control-list.red button {
  background-color: #8b3239;

}


.control-list.blue button {
  background-color: #264f73;
}

.control-list.orange button {
  background-color: rgb(147, 113, 50);
}

.red {
  background-color: #8b3239;
}

.blue {
  background-color: #264f73;
}

.orange {
  background-color: rgb(147, 113, 50);
}

.list-container-button {
  display: flex;
  position: relative;

  padding: 0px 5px 4px 5px;
  border: 2px solid black;
  border-top: none;
  border-radius: 0% 0% 100% 100%;

  background-color: #b2b2b2;

  flex-direction: column;

}

.list-container-button.hidden {
  border: none;
  background: none;
}

.list-container-button.hidden .hide-line {
  visibility: hidden;
}

.list-container-button.hidden button {
  background-color: #cccccc;
}

.hide-line {
  display: flex;
  position: absolute;

  width: 45px;
  height: 2px;
  margin-top: -2px;
  margin-left: -5px;

  background-color: #b2b2b2;

}

.list-container-button .bg-button {
  display: flex;
  width: 100%;
  height: 35px;
  border-radius: 100%;
  background-color: #D9D9D9;

}


.list-container-button button {
  border: none;
  border-radius: 100%;

  color: #5C8863;
  background: none;

  cursor: pointer;
}

.list-container-button .btn-closed {
  color: rgb(178, 74, 74);

  transform: rotate(45deg);

}


.bg-form-list {
  display: flex;

  width: 100%;
  height: 40px;

  border: none;
  border-radius: 9px;

  background-color: #D9D9D9;

  justify-content: center;
  align-items: center;
}

.container-list ul form {
  display: flex;

  width: 95%;
  height: 80%;
  border: none;
  border-radius: 10px;
  padding: 5px 0px;

  background-color: #264f73;

  justify-content: center;
  align-items: center;
  gap: 6px;
}

.container-list ul form input {
  width: 78%;
  height: 90%;
  padding-left: 3px;
  border: none;
  border-radius: 7px;

}

.container-list ul form button {
  display: flex;
  color: white;
  border: none;
  margin-top: 2px;

  background: none;

  cursor: pointer;
}

.bg-form-list.edit form {
  height: 32px;
}