.tasks {
  display: flex;

  height: 450px;
  min-width: 380px;
  width: auto;
  border: 2.7px solid black;
  border-radius: 0 0 4% 4%;
  margin-top: 6px;

  background-color: #E0D1C2;

  list-style: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tasks li:nth-child(1) {
  margin-top: 25px;
}

.tasks li {
  display: flex;
  position: relative;

  width: 100%;

  align-items: center;
  justify-content: center;
}

.description {
  display: flex;

  width: 60%;
  padding: 2px 0px;
  border-top-left-radius: 20px;
  border-end-start-radius: 20px;

  font-size: 15pt;
  font-weight: bold;

  color: #F6EADE;
  background-color: #949494;

  align-items: center;
  justify-content: center;
}

.description:hover {
  cursor: pointer;
}

.tasks li span {
  display: flex;

  height: 100%;
  width: 10%;
  border-left: 1.5px solid #F6EADE;
  border-top-right-radius: 20px;
  border-end-end-radius: 20px;

  background-color: #949494;

  justify-content: center;
  align-items: center;
}

.tasks li span button {
  color: #F6EADE;

  border: none;
  background-color: #949494;
}

.tasks li span:hover {
  cursor: pointer;

}

.tasks li span:hover button {
  cursor: pointer;
  color: rgb(139, 58, 58);
}

.bg-check {
  display: flex;
  position: absolute;

  top: -10px;
  left: 45px;

  width: 27px;
  height: 27px;
  border-radius: 50%;

  background-color: #949494;

  justify-content: center;
  align-items: center;
}



.bg-check div {
  display: flex;

  width: 75%;
  height: 73%;
  border-radius: 50%;

  color: #F6EADE;
  background-color: #F6EADE;

  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.bg-check .verde {
  background-color: #6B9C72;
}

.task-container-add {
  display: flex;
  position: relative;

  width: 100%;
  margin-top: 10px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-container-add button {
  border: none;
  color: #949494;
  background: none;

}

.task-container-add button:hover {
  cursor: pointer;
}

.task-container-add .btn-closed {
  color: rgb(178, 74, 74);

  transform: rotate(45deg);

}

.task-container-add form {
  display: flex;

  height: 40px;
  width: 70%;
  padding: 5px;
  border: 4px solid #949494;
  border-radius: 20px;
  margin-bottom: 18px;

  background-color: #E0D1C2;

  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

.task-container-add form input {
  height: 100%;
  width: 85%;
  padding: 10px;
  border: none;
  border-radius: 20px;

  color: #717171;

  font-size: 15pt;
  font-weight: bold;
}

.container-edit form {
  display: flex;

  height: 40px;
  width: 70%;
  padding: 5px;
  border: 4px solid #949494;
  border-radius: 20px;

  background-color: #E0D1C2;

  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

.container-edit form input {
  height: 100%;
  width: 85%;
  padding: 10px;
  border: none;
  border-radius: 20px;

  color: #717171;

  font-size: 15pt;
  font-weight: bold;
}

.container-edit button {
  border: none;
  color: #949494;
  background: none;

}

.bg-completed-task {
  display: flex;

  justify-content: end;
  align-items: end;
}



.container-completed-task {
  display: flex;
  position: fixed;

  min-height: 2.5em;
  min-width: 9em;
  padding: 10px;
  border: 2px solid black;
  border-right: 1px solid black;
  border-radius: 10px 0px 10px 10px;
  margin-bottom: 15px;
  margin-right: -4px;

  background-color: #6B9C72;

  justify-content: center;
  align-items: center;
}

.container-completed-task.closed {
  min-height: 0;
  min-width: 0;
  border: none;
  margin-right: -10px;

}

.icon-completed-task.closed {
  background-color: #6B9C72;

}

.icon-completed-task.closed div {
  background-color: #6B9C72;
  color: #ffffff;

}

.icon-completed-task {
  display: flex;
  position: absolute;
  top: -16px;
  left: -16px;

  width: 40px;
  height: 40px;
  border-radius: 100%;

  background-color: #6B9C72;
  justify-content: center;
  align-items: center;

  place-items: center;
}

.icon-completed-task div {
  display: flex;

  height: 75%;
  width: 75%;
  border-radius: 100%;

  background-color: #223124;
  color: #9cb69e;

  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container-completed-task ul {
  display: flex;
  gap: 5px;

  flex-direction: column;
}

.container-completed-task li {
  text-decoration: line-through;

}

.container-completed-task li:hover {
  cursor: pointer;

  text-decoration: none;
  color: #f8e5d3;

}