* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;

  background-color: #CCCCCC;

  justify-content: center;
  align-items: center;
}