@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;


  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;

  letter-spacing: 1px;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;

  background-color: #CCCCCC;

  justify-content: center;
  align-items: center;
}

main {
  display: flex;

  flex-direction: row;

  align-items: start;
}

ul {
  list-style: none;
}

.app-list {
  display: flex;

  margin-right: 5em;
  flex-direction: column;
}