* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;

  width: 10em;
  height: 10em;

  background-color: aqua;

  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}